<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AppList>
    <BroadcastAddress />
    <DlcList />
    <DirectPatchList />
    <IconPath />
    <GameName>Incredibox</GameName>
    <Category />
    <Path>\Incredibox.exe</Path>
    <CommandLine />
    <StartIn>\</StartIn>
    <Persist>false</Persist>
    <InjectDll>false</InjectDll>
    <Use64Launcher>false</Use64Launcher>
    <AppId>1545450</AppId>
    <ManualSteamId>-1</ManualSteamId>
    <LowViolence>-1</LowViolence>
    <StorageOnAppdata>-1</StorageOnAppdata>
    <SeparateStorageByName>-1</SeparateStorageByName>
    <RemoteStoragePath />
    <AutomaticallyJoinInvite>-1</AutomaticallyJoinInvite>
    <EnableHTTP>-1</EnableHTTP>
    <EnableInGameVoice>-1</EnableInGameVoice>
    <EnableLobbyFilter>-1</EnableLobbyFilter>
    <DisableFriendList>-1</DisableFriendList>
    <DisableLeaderboard>-1</DisableLeaderboard>
    <SecuredServer>-1</SecuredServer>
    <VR>-1</VR>
    <DisableGC>false</DisableGC>
    <Offline>-1</Offline>
    <Extras />
    <FailOnNonExistenceStats>false</FailOnNonExistenceStats>
    <ListenPort>-1</ListenPort>
    <MaximumPort>-1</MaximumPort>
    <DiscoveryInterval>-1</DiscoveryInterval>
    <MaximumConnection>-1</MaximumConnection>
    <DefaultDlcSubscribed>true</DefaultDlcSubscribed>
    <EnableOverlay>-1</EnableOverlay>
    <EnableOnlinePlay>-1</EnableOnlinePlay>
    <EnableHookRefCount>true</EnableHookRefCount>
  </AppList>
  <MasterServerAddress>
    <string>188.40.40.201:27010</string>
  </MasterServerAddress>
  <BroadcastAddress>
    <string>255.255.255.255</string>
  </BroadcastAddress>
  <BanList />
  <SortBy>SortByName</SortBy>
  <GroupBy>GroupByNone</GroupBy>
  <WindowSizeX>339</WindowSizeX>
  <WindowSizeY>453</WindowSizeY>
  <WindowPosX>893</WindowPosX>
  <WindowPosY>190</WindowPosY>
  <HideMissingShortcut>false</HideMissingShortcut>
  <HideToTray>false</HideToTray>
  <ParanoidMode>false</ParanoidMode>
  <AvatarPath>avatar.png</AvatarPath>
  <PersonaName>AccountName</PersonaName>
  <SteamIdGeneration>GenerateRandom</SteamIdGeneration>
  <ManualSteamId>0</ManualSteamId>
  <Language>English</Language>
  <LowViolence>false</LowViolence>
  <StorageOnAppdata>true</StorageOnAppdata>
  <SeparateStorageByName>false</SeparateStorageByName>
  <AutomaticallyJoinInvite>true</AutomaticallyJoinInvite>
  <EnableHTTP>false</EnableHTTP>
  <EnableInGameVoice>false</EnableInGameVoice>
  <EnableLobbyFilter>true</EnableLobbyFilter>
  <DisableFriendList>false</DisableFriendList>
  <DisableLeaderboard>false</DisableLeaderboard>
  <SecuredServer>true</SecuredServer>
  <EnableVR>false</EnableVR>
  <Offline>false</Offline>
  <QuickJoinHotkey>SHIFT + TAB</QuickJoinHotkey>
  <EnableLog>false</EnableLog>
  <MarkLogHotkey>CTRL + ALT + M</MarkLogHotkey>
  <LogFilter>User Logged On</LogFilter>
  <Minidump>true</Minidump>
  <ListenPort>31313</ListenPort>
  <MaximumPort>10</MaximumPort>
  <DiscoveryInterval>3</DiscoveryInterval>
  <MaximumConnection>200</MaximumConnection>
  <AllowAnyoneConnect>true</AllowAnyoneConnect>
  <AdminPass />
  <EnableOverlay>true</EnableOverlay>
  <EnableOnlinePlay>true</EnableOnlinePlay>
  <OverlayScreenshotHotkey>F12</OverlayScreenshotHotkey>
</Config>